################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/WebAPI/bin/Debug/net6.0
/Backend/WebAPI/obj
